<h1>
    Biz Directory
</h1>

<h2>
    There are {{business_list.length }} business in the directory.
</h2>

<h2>
    The first business is {{business_list [0].name}}
</h2>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @for(business of business_list;
                track business.name) {
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        {{ business.name }}
                    </div>
                    <div class="card-body">
                        This business is based in
                        {{ business.town }}
                    </div>
                    <div class="card-footer">
                        Rating: {{ business.rating }}
                    </div>
                </div>
            }
        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->